:host {
  padding: .5rem 0;
  font-size: 1.25rem;
  background-color: #eee;
  margin-right: 1rem;
  border: #ddd .3rem solid;
  border-radius: .2rem;
  min-width: 12rem;
  max-width: 15rem;

}

.title-area {
  border-bottom: #aaa 1px solid;
  padding-left: .2rem;
}